[Unit]
Description=keep
After=network.target
[Service]
Type=simple
ExecStart=/usr/bin/rackup /home/vi/root/code/keep/config.ru -p 2003
[Install]
WantedBy=keep.target
