[user]
	name  = vi
	email = noreply@example.org

[core]
	editor = /usr/bin/urxvt -name scratchpad -e vim
	pager  = less
	excludesfile = /home/vi/.gitignore

[sendemail]
  smtpserver = /usr/bin/msmtp

[branch]
	autosetupmerge = true

[apply]
	whitespace = fix

[alias]
	br      = branch
	ch      = checkout HEAD
	ci      = commit
	co      = checkout
	df      = diff --color-words
	ds      = diff --staged
	dc      = diff --cached
	lg      = log --pretty --oneline --abbrev-commit
	ly      = log --pretty --oneline --abbrev-commit --since=yesterday
	ly      = log --pretty --oneline --abbrev-commit --since='last week'
	med     = "!git-med"
	out     = "!git-out"
	edit    = "!vim `git st|awk '{print $2}'`"
	st      = status -s
	tree    = log --graph --pretty  --format='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	undo    = checkout --
	wc      = whatchanged
	pom     = push origin master
	ls      = ls-files

[color]
	ui = auto 

[push]
	default = simple
