[user]
  name = vi
	email = me@vikramverma.com
	signingkey = 0x5022421BBEAF7F46 

[core]
	pager  = less
	excludesfile = /home/vi/.gitignore

[sendemail]
  smtpserver = /usr/bin/msmtp

[gpg]
  program = gpg2

[commit]
  gpgsign = true

[branch]
	autosetupmerge = true

[apply]
	whitespace = fix

[alias]
	br = branch
	cm = commit
	co = checkout
	ds = diff --staged
	dc = diff --cached
	lg = log --pretty --oneline --abbrev-commit
	st = status -s
	wc = whatchanged
	ls = ls-files

[color]
	ui = auto 

[push]
	default = simple
